node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*
data/

dist/
build/
out/
out-tsc/

*.tsbuildinfo

.env
.env.*.local
.env.local

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

logs/
tmp/
.cache/
.tmp/

*.js
*.js.map

coverage/
*.lcov